.order-container {
    margin: 20px auto;
    padding: 20px;
    padding-top: 80px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.order-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.order-item p {
    margin: 5px 0;
}

.order-item p:first-child {
    font-weight: bold;
}
