html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    position: fixed;
    z-index: 1;
}
.header-content{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.navigation{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.navigation-block{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-around;
}
.navigation-block-btn{
    text-decoration: none;
    color: black;
}
.navigation-block-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    color: gray;
}
.navigation-account-links{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.navigation-account-links > div > span{
    margin-left: 10px;
}
.navigation-account-links > div > a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.cart-container{
    position: relative;
    top: 200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.my-cart{
    width: 65%;
}

#myCartProducts{
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.cart-product-info{
    display: flex;
}
.cart-product-info > div{
    width: 50%;
    padding-left: 15px;
}

.product-img{
    width: 150px;
}

.delete-from-cart-block{
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: inherit;
}

.delete-from-cart-btn:hover{
    cursor: pointer;
    filter: opacity(0.5);
    transition: 0.4s;
}
.price-block{
    width: 29%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.price-block::after{
    content: "";
    height: 1px;
    background: black;
    width: 100%;
    display: block;
    position: absolute;
    top: 70px;
}

.pay-btn{
    text-align: center;
    text-decoration: none;
    color: white;
    background: #4A4A4A;
    padding: 7px;
}
.pay-btn:hover{
    transition: 0.5s;
    cursor: pointer;
    background: #282727;
}

footer{
    position: relative;
    border-top: 2px solid;
    top: 100px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mail > a{
    text-decoration: none;
    color: black;
}
.mail > a:hover{
    transition: 0.3s;
    color: lightgray;
}
.social-media{
    width: 7%;
    display: flex;
    justify-content: space-between;
}