.cart-wrap{
    background-color: lightgray;
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease-out;
    width: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}
.cart-header{
    background: deepskyblue;
    display: flex;
    align-items: center;
    height: 15%;
    justify-content: center;
}
.icon{
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    left: 20px;
}
#open{
    cursor: pointer;
}
.icon.active {
    transform: rotate(180deg);
}
.cart-wrap.active {
    width: 400px;
}
.cart-product{
    display: flex;
    position: relative;
    border: 1px solid;
    margin-top: 15px;
}
.product-img{
    height: 150px;
    width: 150px;
}
.delete-from-cart-btn{
    position: absolute;
    right: 2px;
    top: 4px;
}
.delete-from-cart-btn:hover{
    cursor: pointer;
    filter: opacity(0.5);
    transition: 0.4s;
}
.cart-product > div{
    text-align: center;
    width: 80%;
}