.cart-wrap{
    background-color: white;
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease-out;
    width: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}
.cart-header{
    background: #F5F5F5;
    display: flex;
    align-items: center;
    height: 15%;
    justify-content: center;
}
.icon{
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    left: 20px;
}
#open{
    cursor: pointer;
}
.icon.active {
    transform: rotate(180deg);
}
.cart-wrap.active {
    width: 400px;
    overflow-y: auto;
}
.cart-product{
    display: flex;
    position: relative;
    border: 1px solid;
    margin-top: 15px;
}
.product-img{
    height: 150px;
    width: 150px;
}
.delete-from-cart-btn{
    position: absolute;
    right: 2px;
    top: 4px;
}
.delete-from-cart-btn:hover{
    cursor: pointer;
    filter: opacity(0.5);
    transition: 0.4s;
}
.cart-product > div{
    text-align: center;
    width: 80%;
}
.total-price{
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
    justify-content: space-between;
}
.total-price > div{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid gray;
}
.total-price > div > h2{
    padding-left: 15px;
}
.total-price > div > span {
    padding-left: 15px;
    font-size: 25px;
}


#linkToCartPage{
    display: none;
    text-decoration: none;
    color: white;
    background: #4A4A4A;
    padding: 7px;
}
#linkToCartPage:hover{
    transition: 0.5s;
    cursor: pointer;
    background: #282727;
}