.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #858583;
    height: 80vh;
    width: 80%;
    margin: auto;
    position: relative;
    top: 60px;
    border-radius: 8px;
}
.user-data{
    background: #FFFFFF;
    height: 90%;
    width: 40%;
    font-size: 17px;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
    border-radius: 7px;
}
.user-data > img{
    width: 400px;
}
.user-data > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.user-data-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.user-data-details > input{
    border: none;
    padding: 7px;
    font-size: 17px;
    width: 250px;
}

.user-data-details > input:focus {
    outline: none;
    background: #B46A51;
}
#check_password{
    position: absolute;
    right: 15px;
    bottom: 45px;
    width: 20px;
    height: 20px;
}
#check_password:active{
    padding: 20px;
}
.user-data > span{
    font-size: 12px;
}

#changeUserBtn{
    padding: 7px;
    margin: 10px;
    border-radius: 6px;
    background: antiquewhite;
    cursor: pointer;
}
#changeUserBtn:hover{
    transition: 0.5s;
    filter: brightness(0.6);
}


.favorites{
    display: none;
    flex-direction: column;
    background: aliceblue;
    width: 40%;
    height: 280px;
    border-radius: 7px;
    position: relative;
}

.favorite-block{
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.favorite-block:hover{
    transition: 0.5s;
    filter: brightness(0.7);
    cursor: pointer;
}
.favorite-block-info > img{
    width: 185px;
}

.favorite-block-info{
    display: flex;
    margin: 10px;
}

.main-info{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.favorites .slick-arrow.slick-prev{
    background: url('../img/arrow-bottom.png') 0 0 no-repeat;
    top: -25px;
    left: 230px;
    border: none;
    cursor: pointer;
}
.favorites .slick-arrow.slick-next{
    background: url('../img/arrow-up.png') 0 0 no-repeat;
    left: 230px;
    border: none;
    top: 280px;
    cursor: pointer;
}

.favorites .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size:0;
    width: 24px;
    height: 24px;
}
.favorites .slick-arrow:hover{
    transition: 0.4s;
    filter: opacity(0.6);
}


#goToLog{
display: none;
text-align: center
}
#goToLog > a{
    text-decoration: none;
    background: wheat;
    border: 2px solid;
    padding: 6px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
#goToLog > a:hover{
    transition: 0.4s;
    background: #B46A51;
    color: white;
}