html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    position: fixed;
    z-index: 1;
}
#addProductBtn{
    height: 60%;
    cursor: pointer;
    border: 1px solid;
    border-radius: 9px;
}
#addProductBtn:hover{
    transition: 0.3s;
    background: gray;
}
.header-content{
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.navigation{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.navigation-block{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-around;
}
.navigation-block-btn{
    text-decoration: none;
    color: black;
}
.navigation-block-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    color: gray;
}
.navigation-account-links{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.navigation-account-links > div > span{
    margin-left: 10px;
}
.navigation-account-links > div > a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.introduction{
    display: flex;
    width: 100%;
    height: 70vh;
    position: relative;
    justify-content: space-between;
    top: 57px;
}
.introduction > img{
    width: 59%;
}
.introduction-container{
    background: lightgray;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.introduction-phrase{
    display: flex;
    width: 45%;
    flex-direction: column;
    text-align: center;
}
.main-container{
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.sorts{
    height: 30px;
    margin-right: 33px;
    border: 1px solid gray;
    background: white;
    color: grey;
    border-radius: 5px;
}
.main-content{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.filters{
    width: 12%;
}

.clothes{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
.product{
    background: lightgray;
    height: 500px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}
.product:hover{
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(0.7);
    transform: scale(1.05);
}
.product > img{
    height: 300px;
    width: 300px;
}
.collection-container{
    padding-top: 20px;
    max-height: 0px;
    transition: max-height 0.52s ease-out;
    overflow: hidden;
    top: 30px;
    display: flex; 
    flex-direction: column;
}
.collection-container label{
    margin-bottom: 10px;
}

.collection-container > div{
    margin: 10px 0px;
}
#filter-categories{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.submit-btn {
    width: 100%;
    background-color: #B46A51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reset-btn{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 4px solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    flex-direction: column;
    margin: 20px 0px;
    cursor: pointer;
}
.filter-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.active ~ .collection-container {
    transition: max-height 0.50s ease-in;
    max-height: 400px;
}
.active .close-open {
    transform: rotate(180deg);
}

footer{
    position: relative;
    border-top: 2px solid;
    top: 100px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mail > a{
    text-decoration: none;
    color: black;
}
.mail > a:hover{
    transition: 0.3s;
    color: lightgray;
}
.social-media{
    width: 7%;
    display: flex;
    justify-content: space-between;
}
.cart-wrap{
    background-color: lightgray;
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease-out;
    width: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}
.cart-header{
    background: deepskyblue;
    display: flex;
    align-items: center;
    height: 15%;
    justify-content: center;
}
.icon{
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    left: 20px;
}
#open{
    cursor: pointer;
}
.icon.active {
    transform: rotate(180deg);
}
.cart-wrap.active {
    width: 400px;
}
