html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    position: fixed;
    z-index: 1;
}
.header-content{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.navigation{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.navigation-block{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-around;
}
.navigation-block-btn{
    text-decoration: none;
    color: black;
}
.navigation-block-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    color: gray;
}
.navigation-account-links{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.navigation-account-links > div > span{
    margin-left: 10px;
}
.navigation-account-links > div > a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.introduction{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    top: 57px;
}
.introduction > img{
    width: 59%;
}
.introduction-container{
    background: lightgray;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.introduction-phrase{
    display: flex;
    width: 45%;
    flex-direction: column;
}
footer{
    position: relative;
    border-top: 2px solid;
    top: 100px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mail > a{
    text-decoration: none;
    color: black;
}
.mail > a:hover{
    transition: 0.3s;
    color: lightgray;
}
.social-media{
    width: 7%;
    display: flex;
    justify-content: space-between;
}